<div class='vtmena-form' align="right">
	<%= link_to "Logout", :action=>"logout" %>
</div>


<div class="vtmena-form">
	<% form_tag do %>
		<fieldset>
			<legend>Query</legend>
			<table>
				<tr>
					<th align="right">Semester:</th>
					<td><%= params[:semester] %></td>
				</tr>
				<tr>
					<th align="right">Year:</th>
					<td><%= params[:year] %></td>
				</tr>
			</table>
		</fieldset>
	<% end %>
</div>
<br />
<br />

	
<div class="vtmena-form">
	<% form_tag do %>
		<fieldset>
			<legend>Course Schedule</legend>
			<table border="1">
				<tr>
					<th></th>
					<th>AU/VT</th>
					<th>Course #</th>
					<th>AU CRN</th>
					<th>Topic</th>
					<th>Time*</th>
					<th>Location</th>
					<th>Type</th>
					<th>Instructors</th>
				</tr>
				<% for class_session in @class_sessions %>
					<tr>
						<th align="center"><%=h Time::RFC2822_DAY_NAME[class_session.day] %></th>
						<td align="center"><%=h class_session.class_schedule.course.university %></td>
						<td><%=h class_session.class_schedule.course.number %></td>
						<td align="center"><%=h class_session.class_schedule.au_crn %></td>
						<td><%=h class_session.class_schedule.course.topic %></td>
						<td><%=h class_session.au_time %> (EET)<br /><%=h class_session.vt_time %> (EST)</td>
						<td align="center"><%=h class_session.location %></td>
						<td align="center"><%=h class_session.class_schedule.vtel %></td>
						<td align="center"><%=h class_session.class_schedule.instructors_as_a_string %></td>
					</tr>
				<% end %>
			</table>
			<p>
				<strong><font color="red">*<u>NOTE:</u> Lecture times are shown in <a href="http://www.timeanddate.com/library/abbreviations/timezones/na/est.html" target="_blank">Eastern Standard Time (EST)</a> and <a href="http://www.timeanddate.com/library/abbreviations/timezones/eu/eet.html" target="_blank">Eastern European Time (EET)</a> at the beginning of the semester.</font></strong>
			</p>
		</fieldset>
	<% end %>
</div>


<%= link_to 'Back', info_manager_path %>
