<h1>Students</h1>

<table>
	<tr>
		<th>Query:</th>
		<td align="right">University:</td>
		<td><%=h params[:university] %></td>
	</tr>
	<tr>
		<th />
		<td align="right">Semester:</td>
		<td><%=h params[:semester] %></td>
	</tr>
	<tr>
		<th />
		<td align="right">Year:</td>
		<td><%=h params[:year] %></td>
	</tr>
</table>



<table border="1">
	<tr>
		<th>University</th>
		<th>Course number</th>
		<th>Topic</th>
		<th>Semester</th>
		<th>Year</th>
		<th>VTel</th>
		<th>Offered</th>
	</tr>
	<% for course in @courses %>
		<tr>
			<td><%=h course.university %></td>
			<td><%=h course.number %></td>
			<td><%=h course.topic %></td>
			<td><%=h course.class_schedules.nil? ? "" : course.class_schedules.semester %></td>
			<td><%=h course.class_schedules.nil? ? "" : course.class_schedules.year %></td>
			<td><%=h course.class_schedules.nil? ? "" : course.class_schedules.vtel %></td>
			<td><%=h course.class_schedules.nil? ? "" : course.class_schedules.offered %></td>
		</tr>
	<% end %>
	<tr>
		<td colspan="7"></td>
	</tr>
	<tr>
		<td colspan="7" align="right"><%=h @courses.length%> course<%=h @courses.length>1 ? "s" : "" %> found!</td>
	</tr>
</table>

<hr />
<%= link_to 'Back', info_manager_path %>


