<div class='vtmena-form' align="right">
	<%= link_to 'Logout', {:controller=>'info_manager', :action=>'logout'} %>
</div>

<table>
	<tr>
		<td>
			<table>
				<tr>
					<td valign="top">
						<div class='vtmena-form' style='display:<%= User.access?(session[:user_id], "student_mgmt", "view") ? "block" : "none" %>'>
							<% form_tag '/info_manager/search_for_student' do %>
								<fieldset>
									<legend>Students' Info</legend>
									<div>
										<label for='student_id_number'>Student ID:</label>
										<%= text_field_tag :student_id_number, params[:student_id_number] %>
									</div>
									<div>
										<label for='student_pid'>Student PID:</label>
										<%= text_field_tag :student_pid, params[:student_pid] %>
									</div>
									<div>
										<label for='last_name'>Last name:</label>
										<%= text_field_tag :last_name, params[:last_name] %>
									</div>
									<div>
										<%= submit_tag 'Search' %>
										<%= link_to 'List All Students?', {:controller=>'info_manager', :action=>'search_for_student'} %>
									</div>
								</fieldset>
							<% end %>
						</div>
					</td>
					<td valign="top">
						<div class='vtmena-form' style='display:<%= User.access?(session[:user_id], "course_mgmt", "view") ? "block" : "none" %>'>
							<% form_tag '/info_manager/list_semester_schedule' do %>
								<fieldset>
									<legend>Class Schedule</legend>
									<div>
										<label for='semester'>Semester:</label>
										<%= select_tag :semester, "<option></option><option>Fall</option><option>Spring</option><option>Summer</option><option>Summer I</option><option>Summer II</option>" %>
									</div>
									<div>
										<label for='year'>Year:</label>
										<%= select_tag :year, "<option></option><option>2008</option><option>2009</option><option>2010</option><option>2011</option><option>2012</option><option>2013</option>" %>
									</div>
									<div>
										<%= submit_tag 'Search' %>
									</div>
								</fieldset>
							<% end %>	
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td valign="top">
						<div class='vtmena-form' style='display:<%= User.access?(session[:user_id], "user_mgmt", "view") ? "block" : "none" %>'>
							<% form_tag do %>
								<fieldset>
									<legend>Manage Accounts</legend>
									<div class='vtmena-form' style='display:<%= User.access?(session[:user_id], "user_mgmt", "admin") ? "block" : "none" %>'>
										<%= link_to 'New User', new_user_path %>
										<%= link_to "List Users", users_path %>
										<%= link_to "Access Control Lists", access_control_lists_path %>
									</div>
									<div>
										<%= link_to 'Change Password', edit_user_path(session[:user_id]) %>
									</div>
								</fieldset>
							<% end %>
						</div>
					</td>
					<td valign="top">
						<div class='vtmena-form' style='display:<%= User.access?(session[:user_id], "library_mgmt", "view") ? "block" : "none" %>'>
							<% form_tag do %>
								<fieldset>
									<legend>Library</legend>
									<div style='display:<%= User.access?(session[:user_id], "library_mgmt", "edit") ? "block" : "none" %>'>
										<strong>Manage:</string>
										<%= link_to 'Books', {:controller=>'books', :action=>'index'} %>
										<%= link_to 'Periodicals', {:controller=>'periodicals', :action=>'index'} %>
										<%= link_to 'Checkouts', {:controller=>'library_checkouts', :action=>'index'} %>
									</div>
									<div style='display:<%= User.access?(session[:user_id], "library_mgmt", "view") ? "block" : "none" %>'>
										<strong>List:</string>
										<%= link_to 'Library Content', {:controller=>'library', :action=>'content'} %>
										<%= link_to 'Checkouts by Person', {:controller=>'library', :action=>'borrowers'} %>
									</div>
								</fieldset>
							<% end %>
						</div>		
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td valign="top">
						<div class='vtmena-form' style='display:<%= User.access?(session[:user_id], "course_mgmt", "admin") ? "block" : "none" %>'>
							<% form_tag do %>
								<fieldset>
									<legend>Semester Planning</legend>
									<div>
										<a href="https://banweb.banner.vt.edu/ssb/prod/hzskvtsc.P_DispRequest" target="_blank">VT Time Table of classes</a><br />
										<a href="http://www.vbs.vt.edu/Vbsguide/pages/bburg.html" target="_blank">B'burg Video/Broadcast Services</a><br />
										<a href="http://www.iddl.vt.edu/schedule/ivcrooms.php?id=67" target="_blank">IVC Room Descriptions</a><br />
										<a href="http://www.iddl.vt.edu/schedule/ivcsites.php" target="_blank">IVC Classroom Locations</a>							
									</div>
								</fieldset>
							<% end %>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>