<div class='vtmena-form' align="right">
	<%= link_to 'Logout', {:controller=>'info_manager', :action=>'logout'} %>
</div>

<div class="vtmena-form">

<% form_for(@user) do |f| %>
	<%= f.error_messages %>
		<fieldset>
			<legend>Enter User Details</legend>
			<div>
				<%= f.label :name %>:
				<%= f.text_field :name, :size => 40 %>
			</div>
			<div>
				<%= f.label :user_password, 'Password' %>:
				<%= f.password_field :password, :size => 40 %>
			</div>
			<div>
				<%= f.label :user_password_confirmation, 'Confirm' %>:
				<%= f.password_field :password_confirmation, :size => 40 %>
			</div>
			<div>
				<%= f.submit "Add User" , :class => "submit" %>
			</div>
		</fieldset>
	<% end %>
</div>

<%= link_to 'Home', info_manager_path %>
